.blogpost{
    margin: 0 auto;
    width: 75%;
    padding-bottom: 75px;
}

.blog-layout{
    margin: 0 auto;
    width: 80%;
}

.blog-title{
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
}

.blog-tagline{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin: 0 !important;
}

.blog-metadata{
    display: flex;
    align-items: center;
}

.author{
    color: brown;
    font-weight: 500;
}


.blog-metadata p:not(:last-child)::after{
    content: ' ';
    height: 8px;
    width: 8px;
    display: inline-block;
    background-color: rgba(165, 42, 42, 0.8);
    border-radius: 50%;
    margin: 0 20px;
}

.blog-cover img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.image-credit{
    display: flex;
    align-items: center;
    gap: 5px;
}

.image-credit i{
    color: brown;
    display: flex;
    align-items: center;
}

.image-credit span{
    color:brown;
}

.blog-article{
    font-weight: 400;
    line-height: 40px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
    margin: 50px 0;
}

article::first-letter{
    color: brown;
    font-size: 150px;
    display: block;
    float: left;
    line-height: 0.9;
    margin: 0 10px 0 -10px;
    left: 0 !important;
}

article img{
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.tags{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.tags span{
    background-color: rgba(165, 42, 42, 0.2);
    padding: 10px;
    color: brown;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.author-profile{
    background-color: white;
    margin: 50px 0;
    border-radius: 10px;
    overflow: hidden;
}

.cover{
    background-color: rgba(165, 42, 42, 0.2);
    height: 10vh;
    padding: 20px 20px 5px 20px;
    display: flex;
}

.author-details{
    height: 100%;
    padding: 20px 20px 0 20px;
    position: relative;
    display: flex;
}

.prompt-btn{
    padding-bottom: 40px;
}

.author-details img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-top: -5.5%;
    outline: 3px solid white;
    display: flex;
}

.cover span:first-child{
    width: 13%;
}

.author-profile-name{
    width: 87%;
    font-weight: bold;
    display: flex;
    align-items:end;
    font-size: 20px;
    color: brown;
}

.bio-holder{
    width: 13%;
    height: 100%;
}

.bio{
    width: 87%;
}

.author-bio{
    border-bottom: 1px solid rgba(165, 42, 42, 0.205);
    padding-bottom: 30px;
    line-height: 24px;
}

.title{
    font-size: 16px;
    font-weight: 500;
}

@media only screen and (max-width:480px){

    .blogpost{
        width: 95%;
    }

    .blog-layout{
        width: 100%;
    }

    .blog-title{
        font-size: 30px;
        line-height: 40px;
    }

    .blog-tagline{
        font-size: 18px;
        line-height: 28px;
    }

    .author{
        align-items: center;
    }

    .blog-metadata{
        font-size: 15px;
    }

    .blog-metadata p:not(:last-child)::after{
        height: 6px;
        width: 6px;
        margin: 0 10px;
    }

    .blog-article{
        font-size: 17px;
        line-height: 28px;
    }

    .blog-cover img, article img{
        border-radius: 7px;
    }

    article::first-letter{
        line-height: 0.8;
    }

    .author-details{
        padding: 10px;
    }

    .author-details img{
        height: 80px;
        width: 80px;
        margin-top: -11%;
    }

    a.author-bio{
        padding-bottom: 20px;
    }

    .cover span:first-child, .bio-holder{
        width: 28%;
    }

    .author-profile-name, .bio{
        width: 72%;
    }

    .prompt-btn{
        margin-top: -25px;
    }

}