.create-order{
    margin: 0 auto;
    width: 75%;
    height: 100%;
}

.steps-breadcrumb{
    display: flex;
    justify-content: center;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    width: 100%;
    color: whitesmoke;
}

.step-info{
    width: 33.33%;
    position: relative;
    display: block;
    float: left;
    padding: 20px 0px 20px 5px;
    font-weight: 500;
    transition: all ease 1s;
}

.step-info:hover{
    cursor: pointer;
}

.step-info::after{
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid rgba(165, 42, 42, 0.404);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}

.step-info::before{
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;       
    border-bottom: 50px solid transparent;
    border-left: 32px solid whitesmoke;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 1; 
}

.steps-breadcrumb .step-info:not(:first-child){
    padding-left: 40px;
}

.steps-breadcrumb .step-info:first-child{
    background-color: rgba(165, 42, 42, 0.8);
    padding-left: 14px;
}

.steps-breadcrumb .step-info:first-child::after{
    border-left-color: rgba(165, 42, 42, 0.8);
}

.steps-breadcrumb .step-info:nth-child(2){
    background-color: rgba(165, 42, 42, 0.6);
}

.steps-breadcrumb .step-info:nth-child(2)::after{
    border-left-color: rgba(165, 42, 42, 0.6);
}

.steps-breadcrumb .step-info:last-child{
    background-color: rgba(165, 42, 42, 0.4);
}

.breadcrumb-link{
    text-decoration: none;
    color: whitesmoke;
}

.assignment-form{
    margin-top: 100px !important;
    padding-bottom: 100px;
}

.assignment-details, .personal-info{
    width: 100% !important;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.personal-info{
    padding-bottom: 30px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}

.input-group div{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
}

select > option:disabled{
    color: rgba(0, 0, 0, 0.479) !important;
}

input[type="file"]{
    padding: 7px;
}

.add-file{
    color: purple;
    cursor: pointer;
}

.extra-file{
    display: none;
    transition: all ease 1s;
}

.show-extra-file{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  --moz-appearance: textfield;
}

.legend, .form-alerts, .error-message, .phone-confirmation{
    color: purple;
    font-size: 12px;
    line-height: 15px;
}

.phone-confirmation span{
    color: brown;
    font-size: 14px;
    margin-left: 2px;
}

.error-message{
    color: red;
}

.legend span{
    color: red;
    font-size: 14px;
}

.code{
    width: 20%;
}

.phone-number{
    width: 80%;
}

@media only screen and (max-width:480px){

    .create-order{
        width: 95%;
    }

    .step-info{
        display: flex;
        align-items: center;
        line-height: 14px;
        padding: 8px 0;
        font-size: 12px;
    }
    
    .steps-breadcrumb .step-info:first-child{
        padding-left: 10px;
    }

    .assignment-form{
        margin-top: 60px !important;
    }

    .assignment-details, .personal-info{
        gap: 20px;
    }

    .input-group{
        gap: 10px;
        width: 100%;
    }

    .code{
        width: 30%;
    }
    
    .phone-number{
        width: 70%;
    }
    

}
