/* .assignment-form{
    margin-top: 50px !important;
    border-radius: 5px;
} */

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48.5%;
}

.input-group div{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
}

select > option:disabled{
    color: rgba(0, 0, 0, 0.479) !important;
}

input[type="file"]{
    padding: 7px;
}

.add-file{
    color: purple;
    cursor: pointer;
}

.extra-file{
    display: none;
    transition: all ease 1s;
}

.show-extra-file{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  --moz-appearance: textfield;
}

.legend, .form-alerts, .error-message, .phone-confirmation{
    color: rgba(128, 128, 128, 0.8);
    font-size: 12px;
    line-height: 15px;
}

.legend{
    margin-top: 20px;
}

.phone-confirmation span{
    color: brown;
    font-size: 14px;
    margin-left: 2px;
}

.error-message{
    color: red;
}

.legend span{
    color: red;
    font-size: 14px;
}

.code{
    width: 20%;
}

.phone-number{
    width: 80%;
}

.hide-assignment-btn{
    display: none;
}

#submit-assignment-button{
    background-color: brown;
    color: white;
}

.box-and-text{
    display: flex;
    align-items: center;
}

.box-and-text span{
    font-size: 12px;
    margin-top: 2px;
}

.checkbox{
    width: 10%;
    padding: 0 !important;
    margin:0 -10px 0 -20px;
}

.fields-layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    outline: 1px solid rgba(165, 42, 42, 0.1);
    padding: 30px 10px;
    gap: 20px;
}

.fields-layout input, textarea, select{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.input-group label{
    font-size: 12px;
    font-weight: 500;
    color: black;
}

.step-description{
    font-size: 13px;  
    font-weight: 500;  
    line-height: 20px;
}

#files-layout{
    justify-content: center;
}

#files-input-group{
    background-color:  rgba(165, 42, 42, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}

.add-file-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: brown;
    padding: 2px 10px;
    width: 80%;
    border-radius: 2px;
    outline: 1px solid rgba(165, 42, 42, 0.7) ;
    transition: all ease .5s;
}

.add-file-icon:hover{
    background-color: brown;
    color: white;
}

.add-file-icon i{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-files{
    cursor: pointer;
    width: 30%;
}

.number-of-files{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

.file-counter{
    margin-right: 5px;
    font-weight: 500;
}

.payment-options{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 13px;
    transition: all ease 1s;
}

#payment-option{
    flex: 1;
    background-color:  rgba(165, 42, 42, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    border-radius: 2px;
}

#payment-option:hover{
    cursor: pointer;
}

.active-card{
    outline: 1px solid rgba(165, 42, 42, 0.5);

}

.option-logo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap:20px;
    width: 100%;
}

.option-logo img{
    height: auto;
}

.payment-selection{
    font-size: 13px;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.payment-selection span:hover{
    background: none;
}

.cost-payment-section{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.cost-calculator, .payment-details{
    flex: 1;
    font-size: 13px;
}

@media only screen and (max-width:480px){

    .create-order{
        width: 95%;
    }

    .step-info{
        display: flex;
        align-items: center;
        line-height: 14px;
        padding: 8px 0;
        font-size: 12px;
    }
    
    .steps-breadcrumb .step-info:first-child{
        padding-left: 10px;
    }

    .assignment-form{
        margin-top: 60px !important;
    }

    .assignment-details, .personal-info{
        gap: 20px;
    }

    .input-group{
        gap: 10px;
        width: 100%;
    }

    .code{
        width: 30%;
    }
    
    .phone-number{
        width: 70%;
    }

    .topic-options{
        flex-direction: column;
    }

    .checkbox{
        margin: 0 0 0 -9px;
    }

    #submit-assignment-button{
        width: 100%;
    }

    .new-files{
        width: 50%;
    }

    .payment-options{
        gap: 10px;
    }

    #payment-option{
        flex: 1 1 100%;
    }
}
