.assignment-form{
    margin-top: 50px !important;
    border-radius: 5px;
}

.assignment-details{
    width: 100% !important;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 48%;
}

.input-group div{
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
}

select > option:disabled{
    color: rgba(0, 0, 0, 0.479) !important;
}

input[type="file"]{
    padding: 7px;
}

.add-file{
    color: purple;
    cursor: pointer;
}

.extra-file{
    display: none;
    transition: all ease 1s;
}

.show-extra-file{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  --moz-appearance: textfield;
}

.legend, .form-alerts, .error-message, .phone-confirmation{
    color: rgba(128, 128, 128, 0.8);
    font-size: 12px;
    line-height: 15px;
}

.legend{
    margin-top: 20px;
}

.phone-confirmation span{
    color: brown;
    font-size: 14px;
    margin-left: 2px;
}

.error-message{
    color: red;
}

.legend span{
    color: red;
    font-size: 14px;
}

.code{
    width: 20%;
}

.phone-number{
    width: 80%;
}

.hide-assignment-btn{
    display: none;
}

#submit-assignment-button{
    background-color: brown;
    color: white;
}

.box-and-text{
    display: flex;
    align-items: center;
}

.box-and-text span{
    font-size: 12px;
    margin-top: 2px;
}

.checkbox{
    width: 10%;
    padding: 0 !important;
    margin:0 -10px 0 -20px;
}

@media only screen and (max-width:480px){

    .create-order{
        width: 95%;
    }

    .step-info{
        display: flex;
        align-items: center;
        line-height: 14px;
        padding: 8px 0;
        font-size: 12px;
    }
    
    .steps-breadcrumb .step-info:first-child{
        padding-left: 10px;
    }

    .assignment-form{
        margin-top: 60px !important;
    }

    .assignment-details, .personal-info{
        gap: 20px;
    }

    .input-group{
        gap: 10px;
        width: 100%;
    }

    .code{
        width: 30%;
    }
    
    .phone-number{
        width: 70%;
    }

    .topic-options{
        flex-direction: column;
    }

    .checkbox{
        margin: 0 0 0 -9px;
    }

    #submit-assignment-button{
        width: 100%;
    }
}
