ul{
    list-style: none;
    padding: 3px;
}

.dashboard{
    margin: 0 auto;
    width: 75%;
    padding-bottom: 100px;
}

.overview-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.overview-metrics{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric-details{
    width: 20%;
    padding: 20px;
    border-radius: 5px;
    transition: all ease 1s;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metric-details:hover{
    cursor: pointer;
}

.overview-metrics .metric-details:first-child{
    background-color: rgb(216,226,253);
}

.overview-metrics .metric-details:nth-child(2){
    background-color: rgb(210,254,218);
}

.overview-metrics .metric-details:nth-child(3){
    background-color: rgb(254,237,207);
}

.overview-metrics .metric-details:last-child{
    background-color: rgb(248, 157, 158);
}

.metric-details span:first-child{
    width: 69%;
}

.metric-details span:nth-child(2){
    width: 28%;
}

.metric-title{
    font-weight: 600;
    line-height: 20px;
    font-size: 14px;
}

.metric-icon, .button-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.overview-metrics .metric-details:first-child .metric-icon i{
    color: rgb(96, 138, 255);
}

.overview-metrics .metric-details:nth-child(2) .metric-icon i{
    color: rgb(0, 255, 47);
}

.overview-metrics .metric-details:nth-child(3) .metric-icon i{
    color: rgb(255, 193, 87);
}

.overview-metrics .metric-details:last-child .metric-icon i{
    color: rgb(226,25,27);
}

.metric-number{
    font-size: 20px;
    font-weight: 800;
    padding-top: 25px;
}

.new-order{
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-order{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.orders-wrapper{
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn{
    width: 100%;
}

.add-button{
    width: 50%;
    padding: 15px;
    color: brown;
    border: none;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(161, 114, 114), rgb(165, 78, 78), rgb(165, 56, 56));
    border-radius: 5px;
    transition: all ease 1s;
}

.add-button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(160, 102, 102), rgb(161, 62, 62), rgb(167, 50, 50));
}

.search-form{
    width: 50%;
}

.search-form .input-group{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.orders-table{
    margin-top: 40px;
    width: 100%;
}

th{
    text-transform:uppercase;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.8);
}

th, td{
    text-align: left;
    padding: 15px 5px;
}

td{
    font-size: 14px;
    font-weight: 400;
}

table{
    border-spacing: 1px;
}

table tbody tr{
    padding: 0 !important   ;
}

table tbody tr:nth-child(odd){
    background-color: rgba(165, 42, 42, 0.035);
}

table tbody tr td:last-child{
    display: flex;
    gap: 10px;
}

#dash-header{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.generic-cta-btn{
    padding: 5px 10px;
    border: none;
    background-color: none;
    background: none;
    border-radius: 3px;
    transition: all ease .5s;
}

.generic-cta-btn:hover{
    cursor: pointer;
}

#revision-btn{
    outline: 1px solid rgb(255, 212, 137);
    color: rgb(255, 193, 87);
    width: 50%;
}

#cancel-btn{
    outline: 1px solid rgb(255, 177, 179);
    color: rgba(255, 103, 106, 0.589);
}

#revision-btn:hover{
    background-color: rgb(255, 193, 87);
    color: white;
}

#cancel-btn:hover{
    background-color: rgb(226,25,27);
    color: white;
}

.no-orders{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    padding: 20px 0 0 0;
    color: rgba(128, 128, 128, 0.8);
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.highlight{
    color: rgba(165, 42, 42, 0.8);
}

.search-section{
    display: flex;
    gap:20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filters{
    width:48%;
    display:flex;
    justify-content:flex-end;
    gap:20px;
    flex-wrap: wrap;
}

.clear-filters{
    border:none;
    padding: 12.9px 8px;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 13px;
    font-weight: 400;
    color: brown;
    transition: all ease .5s;
    border-radius: 3px;  
    justify-content: center;
}

.clear-filters:hover{
    background-color: rgb(253, 141, 141);
    cursor: pointer;
}

.pagination-legend{
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: 400;
    font-size: 13px;
}

.add-files{
    width: 100%;
    display: flex;
    gap: 10px;
}

.label:hover{
    cursor: pointer;
}

.label span{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    border-radius: 3px;
    padding: 0 10px;
    transition: all ease .5s;
}

label span:hover{
    background-color:rgba(165, 42, 42, 0.205);
}

.label span i{
    font-size: 20px;
    margin-top: 2px;
}

.selected-files{
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.3);
    transition: all ease .5s;
}

.selected-files:hover{
    cursor: pointer;
    background-color: rgba(165, 42, 42, 0.9);
    color: white;

}

@media only screen and (max-width:768px){

    .dash-nav-content{
        width: 95%;
    }

    .dashboard{
        width: 95%;
    }

    .overview-metrics{
        gap: 10px;
    }

    .metric-details{
        width: 45%;
        padding: 5px;
        gap: 2px;
    }

    .metric-icon{
        align-items: baseline;
    }

    .add-button{
        width: 100%;
    }

    .search-section{
        gap: 10px;
    }

    .filters div:first-child, .filters div:nth-child(2){
        width: 48%;
    }

    .search-form, .filters div:last-child, .clear-filters{
        width: 100%;
    }

    .filters{
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .filters div:last-child{
        width: 100%;
    }

    .table{
        overflow-x: auto;
    }

    .orders-table{
        width: 250%;
    }

}

@media only screen and (max-width:375px){

    .table{
        overflow-x: auto;
    }
}


@media only screen and (min-width:376px) and (max-width:480px){

    .table{
        overflow-x: auto;
    }

}