.faq-breadcrumb, .support-contact{
    margin:0 auto;
    width: 75%;
}

.search-bar{
    height: 30vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.search-bar form{
    margin: 0 auto;
    width: 40%;
}

.search-bar form div {
    display: flex;
}

.search-bar form div input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-bar-submit{
    background-color: brown;
    border: none;
    padding: 0 25px;
    color: whitesmoke;
    font-weight: bold;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all ease 1s;
}

.search-bar-submit:hover{
    cursor: pointer;
    color: white;
}

.faq{
    margin: 0 auto;
    width: 75%;
    padding:50px 0 70px 0
}

.faq-cards{
    display: flex;
    gap: 65px;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.questions{
    width: 47%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.accordion{
    width: 100%;
    margin-bottom: 20px;
}

.faq-icon{
    color: brown;
    font-size: 20px;
}

#support-section{
    background-color: white;
    padding: 0 0 50px 0;
}

.support-contact{
    height: 100%;
}

.support-mail-phone{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.support-channels{
    width: 35%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.support-icon i{
    color: brown;
    font-size: 40px;
}

.support-details{
    line-height: 28px;
    text-align: center;
    margin: 0 !important;
    border-bottom: 1px solid rgba(165, 42, 42, 0.3);
    padding-bottom: 20px;
}

.support-link{
    color: brown;
    margin: 30px 0 0 0;
    font-weight: bold;
    text-decoration: none;
}