.faq-breadcrumb, .support-contact, .faq{
    margin:0 auto;
    width: 75%;
}

.search-bar{
    height: 30vh;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

.search-bar form{
    margin: 0 auto;
    width: 40%;
}

.search-bar form div {
    display: flex;
}

.search-bar form div input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-bar-submit{
    background-color: brown;
    border: none;
    padding: 0 25px;
    color: whitesmoke;
    font-weight: bold;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all ease 1s;
}

.search-bar-submit:hover{
    cursor: pointer;
    color: white;
}

.faq{
    padding:50px 0 70px 0
}

.faq-cards{
    display: flex;
    gap: 65px;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.questions{
    width: 47%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.accordion{
    width: 100%;
    margin-bottom: 20px;
}

.faq-icon{
    color: brown;
    font-size: 20px;
}

#support-section{
    background-color: white;
    padding: 0 0 50px 0;
}

.support-contact{
    height: 100%;
}

.support-mail-phone{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.support-channels{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
    transition: all ease 1s;
}

.support-channels:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.support-icon i{
    color: brown;
    font-size: 40px;
}

.support-details{
    line-height: 28px;
    text-align: center;
    margin: 0 !important;
    border-bottom: 1px solid rgba(165, 42, 42, 0.3);
    padding-bottom: 20px;
}

.support-link{
    color: brown;
    margin: 30px 0 0 0;
    font-weight: bold;
    text-decoration: none;
}

h3{
    text-align: center;
}

#show-more{
    display: none;
}

@media only screen and (max-width:480px){

    .faq-breadcrumb, .support-contact, .faq{
        width: 95%;
    }

    .search-bar form{
        width: 95%;
    }

    .faq{
        padding: 25px 0 70px 0;
    }

    .faq-cards{
        gap: 0px;
        margin-top: 25px;
    }

    .questions{
        width: 100%;
    }

    .support-mail-phone{
        gap: 40px;
    }

    .support-channels{
        width: 100%;
    }

    #show-more{
        display: block;
        background-color: brown;
        border-radius: 30px;
        color: white;
    }

    .faq-cards .questions:nth-child(2){
        display: none;
        transition: all ease 1s !important;
        opacity: 0;
    }

    .show-questions{
        display: flex !important; 
        opacity: 1 !important;
    }

    .accordion{
        margin-bottom: 10px;
    }
}