.section{
    width: 100%;
}

#navbar-section{
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
    position: sticky;
    top: 0;
    background-color: rgba(245, 245, 245, 0.98);
    z-index: 100000000;
}

#mobile-navbar-section{
    display: none;
}

.desktop-nav{
    margin: 0 auto;
    width: 75%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 20%;
    height: 100%;
    margin-left: -18px;
}

.nav-menu{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    padding: 0 !important;
    gap: 20px;
    align-items: center;
}

.nav-menu li{
    list-style: none;
    font-weight: 500;
    transition: all ease .5s;
    color: rgba(0, 0, 0, 0.8);
}

.link{
    text-decoration: none;
}

.nav-menu li:hover{
    cursor: pointer;
    color: brown;
}

.logo-image{
    display: flex;
    gap: 1px;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.logo-image img{
    width: 40%;
    height: auto;
}

.logo-image p{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: brown;
}

.logo-image p span{
    font-size: 30px;
}

.navbar-button{
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    background-color: brown;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    transition: all ease 0.5s;
}

#login-cta{
    background: none;
    color: brown;
    border: 1px solid brown;
}

.navbar-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

#login-cta:hover{
    transform: none;
    background-color: brown;
    color: white;
}

@media only screen and (max-width:480px){

    #navbar-section{
        display: none;
    }

    #mobile-navbar-section{
        display: flex;
        height: 10vh;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
        position: sticky !important;
        top: 0 !important;
        background-color: rgba(245, 245, 245, 0.98);
        z-index: 100000000;
        overflow: visible;
    }


    .mobile-nav{
        display: flex;
        margin: 0 auto;
        width: 95%;
        position: relative;
    }

    .logo{
        width: 50%;
        height: 100%;
        margin-left: -13px;
    }

    .mobile-nav-menu{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .logo-image img{
        width: 30%;
    }

    .logo-image p{
        font-size: 20px;
    }

    .logo-image p span{
        font-size: 25px;
    }

    .hamburger-menu i{
        color: brown;
        font-size: 30px;
    }

    .menu{
        position: fixed;
        right: 0;
        background-color: rgba(165, 42, 42, 0.98);
        z-index: 100;
        height: 100%;
        top: 0;
        width: 0%;
        transition: all ease 1s;
        overflow-x: hidden;
    }

    .show-menu{
        width: 100%;
    }

    .dropdown-content{
        width: 95%;
        display: block;
        color: whitesmoke;
        font-size: 25px;
        font-weight: bold;
    }

    .close-btn{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .close-btn i{
        font-size: 30px;
    }

    .menu-items{
        display: flex;
        justify-content: flex-end !important;
        text-align: right;
    }

    .menu-items div li{
        list-style: none;
        margin-bottom: 15px;
    }

    .link{
        color: whitesmoke;
        text-decoration: none;
    }

    .navbar-button{
        background-color: whitesmoke;
        color: brown;
    }

}