.order{
    margin: 0 auto;
    width: 75%;
    padding-bottom: 100px;
}

.order-details{
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.order-specifics ul, .alerts-list{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

#instruction-details, .attached-files{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order-specifics ul li:first-child .order-value .link{
    color: rgb(152,57,139);
}

.order-specifics ul li:first-child .order-value{
    cursor: pointer;
}

.order-key{
    font-weight: 450;
}

.alerts-list{
    flex-direction: row !important;
}

.Active, .Completed, .Cancelled{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    outline-offset: 5px;
}

.Active{
    background-color:  rgb(255, 193, 87);
    outline: 1px solid  rgb(255, 193, 87);
    animation: toggleExpand linear 1s infinite;
    animation-duration: 1s;
}

.Cancelled{
    background-color: rgb(226,25,27);
    outline: 1px solid rgb(226,25,27);
}

.Completed{
    background-color: rgb(0, 255, 47);
    outline: 1px solid rgb(0, 255, 47);
}

#deadline-indicator{
    height: 8px;
    width: 100%;
    border-radius: 5px;
}

.safe-deadline{
    background-color: rgb(0, 255, 47);
}

.deadline-warning{
    background-color: rgb(255, 193, 87);
}

.download-link{
    text-decoration: underline;
    color: rgb(55, 55, 236);
    cursor: pointer;
}

@keyframes toggleExpand{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.alerts li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.attached-files{
    border-top: 1px solid rgba(165, 42, 42, 0.1);
    padding-top: 20px;
    
}
