.order{
    margin: 0 auto;
    width: 75%;
    padding-bottom: 100px;
}

.order-details, .order-actions-wrapper{
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.order-details{
    display: flex;
    justify-content: space-between;
}

.order-specifics ul, .alerts-list{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

#instruction-details, .attached-files{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#instruction-details .order-value{
    line-height: 30px;
}

.order-specifics ul li:first-child .order-value .link{
    color: rgb(152,57,139);
}

.order-specifics ul li:first-child .order-value{
    cursor: pointer;
}

.order-key{
    font-weight: 450;
}

.alerts-list{
    flex-direction: row !important;
}

.Active, .Completed, .Cancelled{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    outline-offset: 5px;
}

.Active{
    background-color:  rgb(255, 193, 87);
    outline: 1px solid  rgb(255, 193, 87);
    animation: toggleExpand linear 1s infinite;
    animation-duration: 1s;
}

.Cancelled{
    background-color: rgb(226,25,27);
    outline: 1px solid rgb(226,25,27);
}

.Completed{
    background-color: rgb(0, 255, 47);
    outline: 1px solid rgb(0, 255, 47);
}

#deadline-indicator{
    height: 8px;
    width: 100%;
    border-radius: 5px;
}

.safe-deadline{
    background-color: rgb(0, 255, 47);
}

.deadline-warning{
    background-color: rgb(255, 193, 87);
}

.missed-deadline{
    background-color: rgb(226,25,27);
}

.no-deadline{
    background-color: yellowgreen;
}

.download-link{
    text-decoration: underline;
    color: rgb(55, 55, 236);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes toggleExpand{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.alerts li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.attached-files{
    border-top: 1px solid rgba(165, 42, 42, 0.1);
    padding-top: 20px;
}

.buttons-group{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cancel-order-btn, #mark-complete-btn, #upload-btn{
    width: 100%;
    margin-top: -30px;
    border: none;
}

#cancel-order-btn{
    color: rgb(253, 135, 137);
    outline: 1px solid rgba(248, 157, 159, 0.8);
}

#cancel-order-btn:hover{
    background-color: rgb(221, 82, 85);
    color: white;
    outline: none;
}

#mark-complete-btn{
    color: rgba(128, 128, 128);
    background-color: rgba(128, 128, 128, 0.199);
}

#mark-complete-btn:hover{
    color: white;
    background-color: gray;
}

#upload-btn{
    color: white;
    background-color: rgb(33, 204, 64);
}

#upload-btn:hover{
    background-color: rgb(18, 163, 45)
}

.admin-btn{
    width: 32%;
}

#cta-warning{
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.error{
    color: rgb(255, 35, 39);
    outline: 1px solid rgb(253, 81, 84);
}

.no-error{
    color: rgb(33, 204, 64);
    outline: 1px solid rgb(33, 204, 64);
    font-size: 12px;
}

.warning-close{
    text-align: right;
}

.warning-close i{
    cursor: pointer;
    font-size: 20px;
}

.show-warning{
    display: block;
}

.action-warning p{
    padding: 0 !important;
    margin: 0 !important;
    line-height: 20px;
}

.upload-to-client{
    margin-top: 30px;
    font-size: 14px;
}

.form-close-icon{
    text-align: right;
    border-top: 1px solid rgba(165, 42, 42, 0.1);
    padding: 10px 0;
}

.form-close-icon i{
    color: gray;
    font-size: 20px;
    cursor: pointer;
}

.uploaded-order-details{
    padding-bottom: 20px;
}

.uploaded-order-details ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;
    margin: 0 !important;
}

.uploaded-order-details, .form-close-icon{
    border-bottom: 1px solid rgba(165, 42, 42, 0.1);

}

.upload-files form{
    margin:20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#send-to-client{
    margin-top: -30px;
    margin-right: 50%;
}