.order{
    margin: 0 auto;
    width: 75%;
    padding-bottom: 100px;
}

.order-details{
    border:1px solid rgba(165, 42, 42, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.order-specifics ul{
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

.order-specifics ul li:last-child{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order-specifics ul li:first-child .order-value .link{
    color: rgb(152,57,139);
}

.order-specifics ul li:first-child .order-value{
    cursor: pointer;
}

.order-key{
    font-weight: 450;
}

