#signup-section{
    height: 100vh;
    padding-bottom: 20px;
}

.signup{
    margin:0 auto;
    width:75%;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.signup-form{
    height: 100%;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 20px 20px 0 20px;
}

.reg-text{
    width:60%;
    height:100%;
    background-image: url('../assets/signup.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-x: 60%;
}

.reg-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    height: 100%;
    padding: 0 !important;
}

.reg-text{
    display: flex;
    align-items: center;
}

.reg-text h3{
    color: rgba(165, 42, 42, 0.5);
    font-size: 40px;
    width: 38%;
    text-align: left;
    line-height: 55px;
}

.reg-text h3 span{
    color: brown;
}

#submit-btn{
    margin: -20px 0 0 0;
    background-color: brown;
    color: whitesmoke;
    width: 100%;
}

.signup-form .input-group{
    width: 100%;
}

.signup-header{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
}

@media only screen and (max-width:480px){

    .signup{
        width: 95%;
        flex-direction: column;
    }

    #signup-section{
        height: 100%;
    }

    .signup-form{
        width: 100%;
    }

    .reg-text{
        width:100%;
        background-position: 50%;
        background-position-x: 1%;
    }

    .form-wrapper{
        display: flex;
        width: 100%;
    }

    .reg-form{
        width: 100%;
    }

    #submit-btn{
        margin: -20px 0 20px 0;
    }

    .reg-text h3{
        color: rgba(165, 42, 42, 0.7);
        width: 50%;
        line-height: 50px;
    }

}

