.step-title{
    font-size: 12px;
}

.step-navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#previous, #next{
    padding: 5px 20px;
    font-size: 13px;
    width: 100%;
    margin-top: -20px;
    font-weight: 500;
}

#next{
    background-color: brown;
    color: white;
}

#previous{
    flex-direction: row-reverse;
}

.inline-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

